<form action="/answer" data-turbo="false" method="get" class="form-control">
  <input type="text" name="question" value="<%= params[:question] %>" class="form-text m-3">
  <input type="submit" value="Ask!" class="btn btn-primary pl-3 pr-3">
</form>
